# Formation Python

## Introduction Python

### 1ère instruction

Afficher la valeur de 3+4

In [ ]:
print(3+4)

Ajouter notre nom prénom

In [ ]:
print("Alexandre"+" "+"Chevaux")

### Les types de variables

In [ ]:
salaire = 2500
prenom = "Pierre"
prime = False

### La condition if
A l'aide d'une condition if tester si a est égal à 9

In [ ]:
a=9
##Coder ici
if a==9:
    print("C'est égal à 9") ##Action à effectuer après la condition pas claire

### La condition else if
Tester si la variable nom est égal à votre nom et sinon à celui de votre voisin.

In [ ]:
a="Anthony"
if a=="Alexandre":
    print("c'est mon nom!")
elif a=="Anthony":
    print("C'est mon voisin")

### Les boucles for et while

A l'aide d'une boucle while tenter de deviner le "nombreDeBase"

In [ ]:
import random
nombreDeBase = random.randint(1,10)
a=0
while(a!=nombreDeBase):
    a=a+1
print(a)

A l'aide d'une boucle for, sommer les 100 premiers entiers

In [1]:
cpt=0
for i in range(1,101):
    cpt=cpt+i
print(cpt)

5050

### Les chaines de caractères

Retourner le moins long des deux mots suivants

In [ ]:
a="python"
b="java"
if len(a)>len(b):
    print(a)
else:
    print(b)

Retourner l'index du premier "x" dans la chaine de caractères suivante

In [ ]:
chaine_de_caractere="Bial X, expert en décisionnel"
indice=0
for (i,elt) in enumerate(chaine_de_caractere):
    if elt=="x":
        indice=i
print(indice)

### Les listes

Faites une liste de 3 noms de fruits

In [ ]:
fruit=["pomme","poire","banane"]

Ajouter y un autre

In [ ]:
fruit.append("fraise")

Faites une liste de légumes et ajouter les deux listes

In [ ]:
legume=["courgette","tomate","avocat"]
marche=legume+fruit
print(marche)

Parcourir la liste suivante et sommer les nombres divisibles par 2

In [ ]:
lst=[5,6,8,99,2,90,12,3,4,69,74,23]
cpt=0
for i in lst:
    if i%2==0:
        cpt=cpt+i
print(cpt)

### Les bibliothèques

Importer la bibliothèque pandas et numpy

In [ ]:
import pandas 
import numpy

### Les Dataframe pandas

Créer un Dataframe avec des noms,prénoms, date de naissance et taille

In [2]:
import pandas
l = [ { "prénom":"Alexandre", "nom":"De Smet", "date":"1995-09-24","taille":178 },
       {"prénom":"Timothé", "nom":"Crétet", "date":"1990-02-13","taille":183 },
    {"prénom":"Anthony", "nom":"Dupont", "date":"1950-09-12","taille":167},
    {"prénom":"Audrey", "nom":"Martin", "date":"2000-01-03","taille":190},
    {"prénom":"Anne", "nom":"Emin", "date":"2000-01-03","taille":200},]
df = pandas.DataFrame(l)
print(df)

         date      nom     prénom  taille
0  1995-09-24  De Smet  Alexandre     178
1  1990-02-13   Crétet    Timothé     183
2  1950-09-12   Dupont    Anthony     167
3  2000-01-03   Martin     Audrey     190
4  2000-01-03     Emin       Anne     200

Afficher la colonne des tailles
puis afficher dans le même temps la colonne des noms et prénoms

In [ ]:
print(df["taille"])
df[["nom","prénom"]]

Afficher les deux 1ères lignes

Afficher les 3 dernières lignes

Afficher les colonnes 2 et 3

In [ ]:
df.iloc[0:2]
df.iloc[-3:,:]
df.iloc[:,2:4]

Afficher les personnes de plus de 1 mètres 80

In [ ]:
df.loc[(df['taille']>180)]

Afficher les personnes nés dans les année 1990

In [3]:
df.loc[df['date'].str.contains('199.-..-..', regex=True)]

         date      nom     prénom  taille
0  1995-09-24  De Smet  Alexandre     178
1  1990-02-13   Crétet    Timothé     183

Faire une fonction qui le produit de 2 nombres

In [ ]:
def produit(a,b):
    return a*b
print(produit(3,4))

Faire une fonction factoriel

In [ ]:
def factoriel(n):
    fact=1
    if n==0:
        return 0
    for i in range(n,1,-1):
        fact=i*fact
    return fact
print(factoriel(1))