# Seaborn & Pandas

### Exercice 1 :
    - Installez seaborn
    - Importez de la librairie le dataset iris 
    - Charger le jeu de données Iris 
    - Explorez les données de iris par paires grace au pairplot

# DATAFRAMES

### Exercice 1 : 
     - Importer la librairie pandas
     - Transformer le jeu de données iris en dataframe

### Exercice 2 :
    - Acceder à la colone petal_length colonne par son nom 
    - Extraire de la 5ème à la 10 ème ligne du dataframe
    - Selectionner les variables dont le petal_width est strictement inférieur à 0.2

### Exercice 3 :
  - Charger le dataset Titanic à partir du fichier csv
  - Retirer les "NaN" du dataframe
  - Afficher les personnes dont le nom contient Alexander
  - Afficher le nombre de personnes sur le titanic en 1ère classe de moins de 40 ans